@font-face{

font-family:MyCustomFont;
 src:url('/resource/font/Noto.otf');

}
@font-face{

font-family:MyCustomFont;
 unicode-range:U+00-024F;
 src:url('/resource/font/Ubuntu-M.ttf');

}
body {
  background-color: #990000;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  font-family:MyCustomFont,
  sans-serif;
  color:white;
  overflow:hidden;
  width:100%;
  height:100vh;
}
a {
  color:white;
}
a:hover {
  color:white;
}
#initial-name {
  height:100vh;
  width:100%;
}
#ask-name {
  position:absolute;
  top:25%;
  right: 0;
}
#ask-name h1 {
  font-size:66px;
  color:#165169;
}
#ask-name h3 {
  font-size:36px;
  color:#165169;
}
#ask-name textarea,
#ask-name textarea:focus {
  border:none !important;
  outline:none;
  width:100%;
  height:100px;
  font-size:80px;
  background:rgba(22, 81, 105, 0.7);
  margin-right:0;
}
::-webkit-scrollbar {
  display:none;
}
#content,
#location-choose {
  display:none;
  height:100vh;
  width:100%;
}
#setting_ribbon {
  position:absolute;
  left:85%;
  top:0;
  height:20%;
  width:4%;
  background:rgb(44,
  62,
  80);
  box-shadow:0 0 15px 0 black;
  display:table;
  -webkit-transition:height 1s;
}
#setting_ribbon:hover {
  height:25%;
}
#greeting_msg {
  position:absolute;
  top:12%;
  left:15%;
  font-weight:bold;
}
#greeting_msg h2 {
  font-size:50px;
  font-weight:bold;
  color:#b62239;
}
#setting_btn {
  font-size:2em;
}
#center_info {
  position:absolute;
  top:0;
  right:0;
}
#current_time {
  font-size:35px;
  font-weight:bold;
  margin:0;
  text-align:center;
}
#current_date {
  font-size:20px;
  margin:0;
  text-align:center;
}
#location {
  width:50%;
  margin:0;
  text-align:right;
  font-size:20px;
  font-weight:bold;
  color:white;
  display:inline-block;
}
#to_options {
  color:white;
  text-decoration:none;
}
#share_buttons {
  position:absolute;
  top:80%;
  left:5%;
}
#centering {} #manager_logo {
  color:rgb(231,
  76,
  60);
  font-size:2em;
  font-weight:bold;
  position:absolute;
  top:80%;
  left:75%;
}
#manager_logo sup {
  font-size:0.5em;
}
#city {
  display:inline-block;
}
#name {
  display:inline-block;
}
#greeting_word {
  display:inline-block;
}
.temp {
  display:inline;
  font-size:25px;
}
.box {
  display:inline-block;
  color:white;
  border-right:5px solid white;
  padding-top:5px;
  font-size:25px;
}
#sentence-content {
  display: none;
  position:absolute;
  top:40%;
  width:65%;
  left:20%;
  color:#165169;
}

#sentence-content a{
  color:inherit;
}

#sentence-content h2 {
  font-size:28px;
}
#sentence-content span{
  position:absolute;
  left:40%;
  font-size:24px;
}
#sentence-content h3 {
  position:absolute;
  left:45%;
  font-size:24px;
  display:inline-block;
  margin:0;
  line-height: 1.2;
}
#ABC-content {
  display:none;
  position:absolute;
  top:40%;
  left:20%;
  width:60%;
  color:#165169;
}
#ABC-content a:hover,
#ABC-content a:visited,
#ABC-content a:link,
#ABC-content a:active {
  text-decoration:none;
}
#ABC-content h4 {
  color:black;
  margin-top:25px;
  font-size:25px;
}
#ABC-content h3 {
  font-size:50px;
}
#cc-content {
  display:none;
  position:absolute;
  top:40%;
  left:20%;
  width:60%;
  color:#165169;
}
.layout-logo {
  position:absolute;
  right:10%;
  top:3%;
  width:200px;
}
.layout-left-triangle {
  position:absolute;
  left:0;
  top:5%;
}
.layout-setup {
  position:absolute;
  left:3%;
  bottom:4%;
  color:white;
  width:50px;
}
.layout-right-triangle {
  position:absolute;
  right:0;
  bottom:0;
}
.initial-share {
  display:inline-block;
  right:10%;
  bottom:25%;
  position:absolute;
}
.initial-share img {
  width:64px;
  margin:0 10px;
}
.layout-logo-slogan {
  position:absolute;
  right:5%;
  top:12%;
  font-size:2em;
}
#ask-location {
  position:absolute;
  top:25%;
}
#ask-location h2 {
  font-size:66px;
  color:#165169;
}
.location-choser,
.location-choser:hover {
  width:100%;
  background:rgba(22, 81, 105, 0.7);
  border:none;
  height:100px;
  text-align:left;
  font-size:50px;
  padding-left:50px;
}
.location-choser i {
  vertical-align:top;
  margin-left:20px;
}
.location-panel {
  background:rgba(0,
  0,
  0,
  0.8);
  width:80%;
  height:90%;
  top:5%;
  left:10%;
  display:none;
  position:absolute;
  z-index:10;
  padding:50px;
  border-radius:10px;
}
.location-panel ul {
  display:inline-block;
}
.location-panel li {
  display:inline-block;
  width:18.7%;
  text-align:center;
  background:grey;
  color:white;
  margin:4px;
  font-size:50px;
  padding:10px;
  cursor:pointer;
}
#turn-off {
  position:absolute;
  background:white;
  border-radius:50%;
  top:4%;
  right:9%;
  font-size:50px;
  display:none;
  text-align:center;
  width:50px;
  height:50px;
  z-index:15;
  cursor:pointer;
  color:#72828f;
}
#turn-off i {
  vertical-align:super;
}
.info {
  float:left;
}
#temp-num {
  display:block;
  float:left;
  text-align:right;
  font-weight: bold;
  font-size:30px;
  line-height: 1;
  margin-right: -40px;
}
#wx {
  float:left;
  height:50px;
  margin-top:15px;
}
.time-date {
  padding-top:10px;
  margin:3px 15px;
  height:100%;
}
#tabs {
  position:absolute;
  width:100%;
  top:30%;
}
.title-tab {
  position:absolute;
  transition:1s;
  height:54px;
  display: inline-block;
}

input[type=radio]{
  display:none;
}

#sentence-pic {
  cursor:pointer;
  background-image: url(../resource/img/others/title-sentence-2.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 180px;
  background-size: 180px 54px;
}
#ABC-pic {
  cursor:pointer;
  background-image: url(../resource/img/others/title-ABC-2.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 180px;
  background-size: 180px 54px;
}
#cc-pic {
  cursor:pointer;
  background-image: url(../resource/img/others/title-cc-2.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 180px;
  background-size: 180px 54px;
}
#shake-result {
  display:none;
}
#before-shake h2 {
  font-size:100px;
  padding-top:5%;
  display:inline-block;
}
#before-shake img {
  margin-left:5%;
  cursor:pointer;
  width:80px;
  vertical-align:bottom;
}
#cant-shake {
  display:none;
}
#again {
  cursor:pointer;
  width:188px;
  float:right;
}
#divination-status {
  color:#F85B66;
  font-weight:bold;
  font-size:100px;
  display:inline-block;
}
#divination-sentence {
  display:inline-block;
  color:black;
  font-weight:bold;
  font-size:25px;
  line-height:0.8;
}

#divi-sentences {
  display:inline-block;
  margin-left:20px;
}

#divi-sentences h3{
  color:#72828f;
}
.content-logo {
  position:absolute;
  left:10%;
  bottom:5%;
  width:200px;
}
#content-logo-words {
  top:90%;
  color:white;
  font-size:20px;
}
.share-in-content {
  position:absolute;
  top:90%;
  left:25%;
}
.share-in-content img {
  margin:0 5px;
  width:37px;
}
#sentence-content #chinese_sentence {
  font-size:40px;
  line-height: 1.3;
}
#divination-title {
  line-height:0.8;
}

@media screen and (max-width:1440px){
  body{
    background-color: #990000;
    background-size:1440px 900px;
    background-repeat: no-repeat;
  }
  .share-in-content{
    left:28%;
  }
}

@media screen and (max-width : 1280px ){
  body{
    background-color: #990000;
    background-size: 1280px 768px;
    background-repeat: no-repeat;
  }
  .share-in-content{
    left:30%;
  }
  .initial-share{
    bottom: 20%;
  }
}

#sentence-share-fb {
  font-size:20px;
  cursor:pointer;
  background:#1d7095;
  width:180px;
  height:30px;
  border-radius:10px;
  color:#ffffff;
  text-align:center;
}

#sentence-share-fb span{
  position:relative;
  left:0;
  vertical-align:text-bottom;
  font-size:25px;
}

#sentence-share-fb i{
  vertical-align: super;
}

