@font-face{
  font-family:Ubuntu;
  url(resource/font/Ubuntu-M.ttf);
}
body{
  font-family:"Ubuntu", "微軟正黑體" , "Heiti TC" , "Droid-Sans";
  background:#16a085;
  color:white;
}
#setting_ribbon {
  position:absolute;
  left:85%;
  top:0;
  height:20%;
  width:4%;
  background:rgb(231, 76, 60);
  box-shadow: 0 0 15px 0 black;
}
#current_time{
  font-size:7em;
  position: absolute;
  top:3%;
  left:40%;
}

#current_date {
  position:absolute;
  top:30%;
  left:41%;
}

#location {
  position:absolute;
  top:38%;
  left:42%;
}

#greeting_msg {
  position:absolute;
  top:10%;
  left:10%;
}

#setting_btn {
  font-size:2em;
  margin:0 auto;
  display:block;
  width:50%;
  margin: 2.5em auto 0 auto;
}
