@font-face{

font-family:MyCustomFont;
 src:url('/resource/font/Noto.otf');

}
@font-face{

font-family:MyCustomFont;
 unicode-range:U+00-024F;
 src:url('/resource/font/Ubuntu-M.ttf');

}
body {
  font-family:MyCustomFont , sans-serif;
  background:rgb(249,162,28);
  color:white;
}


#content {
  position:absolute;
  top:15%;
  font-size:25px;
}

input[type='text']{
  padding:5px;
  vertical-align: middle;
}
#logo {
  color:rgb(231, 76, 60);
  font-weight:bold;
}

#name{
  color:black;
}

#big-logo {
  position:absolute;
  top:3%;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #666666;
    border-radius: 5px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    -webkit-box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: attr(data-before);
    padding-left: 10px;
    background-color: #27AE60;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: attr(data-after);
    padding-right: 10px;
    background-color: #2980B9;
    color:white ;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 35px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 51px;
    -webkit-transition: all 0.3s ease-in 0s;
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
