@font-face{

font-family:MyCustomFont;
 src:url('/resource/font/Noto.otf');

}
@font-face{

font-family:MyCustomFont;
 unicode-range:U+00-024F;
 src:url('/resource/font/Ubuntu-M.ttf');

}
body {
  font-family:MyCustomFont,
  sans-serif;
  background:url("../resource/C1920x1080_a.jpg");
  background-size: 1920px 1080px;
  color:white;
}
#content {
  position:absolute;
  width:70%;
  left:15%;
  top:25%;
  background:rgba(255,255,255,0.7);
  border-radius:20px;
  font-size:25px;
  color:black;
  height:50%;
}
input[type='text'] {
  padding:5px;
  vertical-align:middle;
  background:rgba(0,0,0,0.3);
  float:right;
  width:80%;
  margin-bottom:10px;
  text-align:right;
}
#logo {
  color:#165169;
  position:absolute;
  top:10%;
  left:15%;
  font-weight:100;
}
#logo span {
  font-weight:bold;
}
#name {
  color:white;
  border:0;
}
#name:focus {
  outline-style:none;
  border:0;
}
#big-logo {
  position:absolute;
  top:3%;
}
.onoffswitch {
  position:relative;
  width:90px;
  -webkit-user-select:none;
  float:right;
}
.onoffswitch-checkbox {
  display:none;
}
.onoffswitch-label {
  display:block;
  overflow:hidden;
  cursor:pointer;
  border:2px solid #666666;
  border-radius:5px;
}
.onoffswitch-inner {
  display:block;
  width:200%;
  margin-left:-100%;
  -webkit-transition:margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display:block;
  float:left;
  width:50%;
  height:30px;
  padding:0;
  line-height:30px;
  font-size:16px;
  color:white;
  font-weight:bold;
  -webkit-box-sizing:border-box;
}
.onoffswitch-inner:before {
  content:attr(data-before);
  padding-left:10px;
  background-color:#27AE60;
  color:#FFFFFF;
}
.onoffswitch-inner:after {
  content:attr(data-after);
  padding-right:10px;
  background-color:#2980B9;
  color:white;
  text-align:right;
}
.onoffswitch-switch {
  display:block;
  width:35px;
  margin:0px;
  background:#FFFFFF;
  border:2px solid #666666;
  border-radius:5px;
  position:absolute;
  top:0;
  bottom:0;
  right:51px;
  -webkit-transition:all 0.3s ease-in 0s;
  background-image:-webkit-linear-gradient(center top,
  rgba(0,
  0,
  0,
  0.1) 0%,
  rgba(0,
  0,
  0,
  0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left:0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right:0px;
}
.layout-left-triangle {
  position:absolute;
  left:0;
  top:5%;
}
.layout-right-triangle {
  position:absolute;
  right:0;
  bottom:0;
}
.content-logo {
  position:absolute;
  left:10%;
  bottom:5%;
  width:200px;
}
.share-in-content {
  position:absolute;
  top:90%;
  left:25%;
}
.share-in-content img {
  margin:0 5px;
  width:37px;
}
#logo img {
  margin:0 20px;
  width:50px;
}
.layout-setup {
  position:absolute;
  left:3%;
  bottom:4%;
  color:white;
  width:50px;
}
#content-inner {
  padding:50px;
}
.location-panel {
  background:rgba(0,
  0,
  0,
  0.8);
  width:80%;
  height:90%;
  top:5%;
  left:10%;
  display:none;
  position:absolute;
  z-index:10;
  padding:50px;
  border-radius:10px;
}
#ask-location {
  display:inline-block;
  width:100%;
}
.location-choser,
.location-choser:hover {
  width:15%;
  background:white;
  text-align:center;
  font-size:25px;
  display:inline-block;
  float:right;
  line-height:1;
  border:0;
  float:right;
  margin-bottom:20px;
}
.location-choser i {
  margin-left:5px;
  vertical-align:super;
}
.location-panel li {
  display:block;
  float:left;
  background:grey;
  color:white;
  margin:4px;
  font-size:50px;
  padding:10px;
  cursor:pointer;
}
#turn-off {
  position:absolute;
  background:white;
  border-radius:50%;
  top:4%;
  right:9%;
  font-size:50px;
  display:none;
  text-align:center;
  width:50px;
  height:50px;
  z-index:15;
  cursor:pointer;
  color:black;
}
#turn-off i {
  vertical-align:super;
}
#logo i {
  font-size:50px;
  margin-left:20px;
}
#ask-location h2 {
  display:inline-block;
  font-weight:bold;
  font-size:25px;
}
#summit {
  border:0;
  position:absolute;
  bottom:10%;
  width:20%;
  left:40%;
  background:black;
}
#return-to-main {
  position:absolute;
  right:2%;
  top:2%;
  color:grey;
  font-size:30px;
}

@media screen and (max-width:1440px){
  body{
    background-size:1440px 900px;
    background-repeat: no-repeat;
  }
  .share-in-content{
    left:28%;
  }
}

@media screen and (max-width : 1280px ){
  body{
    background-image: url("../resource/C1920x1440_a.jpg");
    background-size: 1280px 768px;
    background-repeat: no-repeat;
  }
  .share-in-content{
    left:30%;
  }
}
